<!DOCTYPE html>
<html>
    <head>
        <title>TIMBEAR</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <%- include('menu') %>
        <h2>Mantenimiento de Banners</h2>
        <a class="btn btn-success" href="/banner/new">Nuevo</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>URL Destino</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% banners.forEach( (banner) => { %>
                    <tr>
                        <td><%= banner.id%></td>
                        <td><%= banner.nombre%></td>
                        <td><img id="banner-lista" class="img-fluid img-thumbnail" width="150px" src=
                            <%= banner.url %>
                            /></td>
                        <td><%= banner.url_destino%></td>
                        <td><% if(banner.estado == true) { %>
                            <%= "Activo"%>
                            <% }else{ %>
                            <%= "No Activo"%>
                            <%} %>
                        </td>
                        <td>
                            <a href="/banner/modificar/<%= banner.id %>">Editar</a>
                            <a href="/banner/eliminar/<%= banner.id %>">Eliminar</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a class="btn btn-primary" href="/categorias-juegos">Ir a categorías de juego</a>
    </body>
</html>