<!DOCTYPE html>
<html>
    <head>
        <title>TIM-BEAR</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">

        <%- include('menu') %>
        <h2>Administrar Partidas</h2>
        <a class="btn btn-success" href="/partidasadmin/crear">Crear</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Juego</th>
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Duracion</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% partidas.forEach( (partida) => { %>
                    <tr>
                        <td><%= partida.id %></td>
                        <td><%= partida.id_juego %></td> 
                        <td><%= partida.fecha.toISOString().substring(0, 10)%></td>
                        <td><%= partida.hora_inicio.toISOString().substring(5,10)%></td>
                        <td><%= partida.duracion %></td>
                        <td><%= partida.estado %></td>
                        <td>
                            <a href="/partidasadmin/editar/<%= partida.id %>" >Editar</a>
                            <a href="/partidasadmin/eliminar/<%= partida.id %>" >Eliminar</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a class="btn btn-primary" href="/partidasadmcompleta">Vista completa</a>
        <%- include('footer') %>
    </body>
</html>